h1 {
	width:	100%
	text-align:	center;
	font-size:	4.8em;
}

h2 {
	font-size:	3.0em;
}

p {
	width:	90%;
	font-size:	1.8em;
	margin-left:	1em;
}

li {
	width:	90%;
	font-size:	1.8em;
	margin-left:	1em;
}

.popup {
	width:	50%;
	border:	solid;
	border-color:	rgb(255, 0, 0, 100);
	border-width:	0.1em;
	
	padding:	0.2em;
}

.example {
	margin-left:	1em;
	font-size:	0.8em;
}

.note {
	margin-left:	2em;
	font-size:	0.8em;
}

.footer {
	font-size:	0.5em;
	text-align:	center;
}